---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.astro";
import FeaturedSection from "../components/FeaturedSection.astro";
---

<BaseLayout pageTitle={"Home Page"}>
  <div class="">
    <Greeting />
  </div>
  <div class="py-8 border-b border-gray-300 dark:border-orange-500">
    <FeaturedSection />
  </div>
</BaseLayout>
