---
import Github from "./SocialIcons/Github.astro";
import Twitter from "./SocialIcons/Twitter.astro";
import LinkedIn from "./SocialIcons/LinkedIn.astro";
---

<div>
  <h3 class="text-5xl mb-10">Welcome</h3>
  <p class="text-lg mb-6">
    My is name is Noel and here are my thoughts about the current state of web
    dev and the things im working on. Find a post, share your opinions and leave
    a comment.
  </p>
  <div
    class="flex items-center pb-6 gap-4 border-b border-gray-300 dark:border-orange-500"
  >
    <p class="text-lg">Social Links:</p>
    <div class="flex gap-4 items-center">
      <Github />
      <LinkedIn />
      <Twitter />
    </div>
  </div>
</div>
