---
import Navigation from "../components/Navigation.astro";
import Hamburger from "../components/Hamburger.astro";
---

<header class="py-8 border-b border-b-gray-300 dark:border-b-orange-500 mb-10">
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
