---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/rubik";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="">
    <div
      class="h-screen w-full bg-neutral-100 dark:bg-slate-800 dark:text-gray-200"
    >
      <div class="max-w-3xl h-full w-full flex flex-col mx-auto">
        <Header />
        <div class="flex-1">
          <slot />
        </div>
        <!-- <Footer /> -->
      </div>
    </div>

    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
